



<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">
    <br><br>
    <h1 class="text-center text-primary fw-bold mb-4">🆕 Create a New Listing</h1>

    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
      
      <!-- Title -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          placeholder="Add a catchy title"
          required
          class="form-control"
        />
        <div class="valid-feedback">Title looks good</div>
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          placeholder="Enter Description"
          required
          class="form-control"
          rows="4"
        ></textarea>
        <div class="valid-feedback">Please enter a short description</div>
      </div>

      <!-- Price + Location in one row -->
      <div class="row">
        <div class="mb-3 col-8">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            name="listing[price]"
            placeholder="Enter Price"
            required
            class="form-control"
          />
          <div class="valid-feedback">Price looks good</div>
        </div>

        <!-- Image syntax-->
         <div class="row">
         <div class="mb-3 col-8">
          <label for="imageUpload">Upload Image:</label>
          <input type="file"
           id="imageUpload"
            name="image"
             accept="image/*"
             required
             class="form-control"
          
          />
    
        </div>


        <div class="mb-3 col-4">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            placeholder="Enter Location"
            required
            class="form-control"
          />
          <div class="valid-feedback">Location looks great</div>
        </div>
      </div>

      <!-- Country -->
      <div class="mb-4">
        <label for="country" class="form-label">Country</label>
        <input
          type="text"
          name="listing[country]"
          placeholder="Enter Country"
          required
          class="form-control"
        />
        <div class="valid-feedback">Country added</div>
      </div>

      <!-- Submit Button -->
      <div class="text-center">
        <button type="submit" class="btn btn-dark px-5 fw-bold">
          ➕ Add Listing
        </button>
      </div>

    </form>

    <br><br>
  </div>
</div>
